body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  // font-family: "Rubik-Bold";
  .App {
    overflow: hidden;
    .leaflet-container {
      height: 80vh;
      z-index: 99;
    }
  }
}
